body {
  align-items: center;
  margin: 0;
  background-color: rgb(131, 140, 172);;
  font-family: 'Open Sans', sans-serif;
  font-weight: 350;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
