
:root {
    --content-padding: 12px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: var(--content-padding);
    padding-left: var(--content-padding);
    
}
.button1{
    position: absolute;
    top: 350px;
    left: var(--content-padding);
}
.mainViewButton{
    box-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.button1 .button2 .button3 button:hover{
    background-color: rgb(152, 162, 197);
}

.button2{
    position: absolute;
    top: 430px;
    right: var(--content-padding);
    
    
}
.button3{
    position: absolute;
    top: 510px;
    left: var(--content-padding);
    
    
}
.button4{
    position: absolute;
    top: 590px;
    right: var(--content-padding);
}
button{
    height: 57px;
    box-shadow: 4px 4px 4px rgb(76, 79, 107);
    background-color: rgb(226 226 227);
    margin-top: 15px;
    padding: 15px;
    font-size: 20px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 340;
    cursor: pointer;
}       
.buttons_container{
height: 240px;
background-color: rgba(25, 43, 107, 1);
padding-bottom: 25px;
}


h3{
    color: white;
    margin-bottom: 2px;
}

.form-container svg{
    color: rgb(54, 54, 59);
}