.card{
    background-color: rgb(231,234,241, 0.99);
    box-shadow: 5px 5px 5px black;
    border-radius: 15px;
    width: auto;
    max-width: 700px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify;
}
button{
    background-color: rgba(25, 43, 107, 1);
    border-radius: 15px;
    border: 0px;
    height: 38px;
    padding: 10px;
    color: white;
    min-width: 142px;

}
.post-state {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
}
.post-text{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: large;
}
.post-place{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: large;
}
.post-message{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.post-modify{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-buttons{
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.post-buttons button{
    border: 1px solid rgb(22, 27, 99);
    outline: none;
    margin-bottom: 20px;
    min-width: 120px;
    height: 45px;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    background: rgb(22, 27, 99);
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

.dot{
    height: 16px;
    width: 16px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.post-type {
    display: flex;
    align-items: center;
}

#card-date {
    display: flex;
    flex-direction: column;
}

svg {
    color: rgb(58, 58, 78);
    width: 35px;
    height: 35px;
    padding-left: 85%;
}

.place{
    font-size: large;
    margin-bottom: 15px;
}

#pen-icon{
    height: 15px;
    width: 15px;
    padding-left: 12px;
    color: aliceblue;
}

.card-title{
    margin-bottom: 10px;
}

#send-arrow{
    height: 16px;
    width: 16px;
    padding-left: 12px;
    color: aliceblue;
}