.card{
    background-color: rgb(231,234,241, 0.99);
    box-shadow: 5px 5px 5px black;
    border-radius: 15px;
    width: auto;
    max-width: 700px;
    padding: 24px;
    margin-bottom: 20px;
    /* text-align: justify; */
}
button{
    background-color: rgba(25, 43, 107, 1);
    border-radius: 10px;
    border: 0px;
    height: 38px;
    padding: 10px;
    color: white;
    min-width: 142px;

}
.post-state {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
}
.post-text{
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: large;
    color: rgb(42, 42, 48, 1);
}
.post-place{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: large;
}
.post-message{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.post-modify{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-buttons{
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.post-buttons button{
  border: 1px solid rgb(22, 27, 99);
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  background: rgb(22, 27, 99);
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  font-family: sans-serif;
  box-shadow: 4px 4px 4px rgb(76, 79, 107);
}

.dot{
    height: 16px;
    width: 16px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.post-type {
    display: flex;
    align-items: center;
}

svg {
    width: 28px;
    height: 28px;
    color: rgb(241,245,255);
}

.place{
    font-size: larger;
    margin-bottom: 15px;
}

.card-title{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: x-large;
}

#send-arrow{
    height: 16px;
    width: 16px;
    padding-left: 12px;
    color: aliceblue;
}

.card-text{
    margin-bottom: 15px;
}

.modify-pen{
    height: 25px;
    width: 25px;
    padding-left: 0px;
    color: rgb(241,245,255);
}

#new-message-count {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#message-icon {
    padding: 0%;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

.no-margin {
    margin: 0;
}

.close-x{
    margin-bottom: 10px;
    width: 34px;
    height: 34px;
    color: rgb(54, 54, 59);
}

.modify-pen2{
    margin-bottom: 10px;
    width: 28px;
    height: 28px;
    color: rgb(54, 54, 59);
}

#post-x-close{
    justify-content: flex-end;
}